.icon-48-citems {
      background-image: url(../images/l_citems.png);
      padding-left:60px!important;
}

.icon-48-cedit {
      background-image: url(../images/l_citems.png);
      padding-left:60px!important;
}

.icon-48-items {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-edit {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-iitems {
      background-image: url(../images/l_iitems.png);
      padding-left:60px!important;
}

.icon-48-iedit {
      background-image: url(../images/l_iitems.png);
      padding-left:60px!important;
}

