<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{subject}</title>

</head>

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>

    <td width="300" align="left" valign="top">Name:</td>

    <td align="left" valign="top">{name}</td>

  </tr>

  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Email:</td>

    <td align="left" valign="top">{email}</td>

  </tr>

  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Phone:</td>

    <td align="left" valign="top">{phone}</td>

  </tr>

  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Company:</td>

    <td align="left" valign="top">{company}</td>

  </tr>

  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Website:</td>

    <td align="left" valign="top">{website}</td>

  </tr>

</table>

<hr />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  
  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Holographic Display:</td>

    <td align="left" valign="top">{holographicDispaly}</td>

  </tr>

  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Number of required machine:</td>

    <td align="left" valign="top">{machine}</td>

  </tr>

  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Address of hire location:</td>

    <td align="left" valign="top">{address}</td>

  </tr>

  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Date of activation:</td>

    <td align="left" valign="top">{activation}</td>

  </tr>
  <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Approx Budget:</td>

    <td align="left" valign="top">{budget}</td>

  </tr>
   <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Tell us about your event/expo/retail outlet or others:</td>

    <td align="left" valign="top">{aboutyou}</td>

  </tr>
   <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Add-ons:</td>

    <td align="left" valign="top">{addons}</td>

  </tr>
   <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">Anything else we have forgotten:</td>

    <td align="left" valign="top">{other}</td>

  </tr>
   <tr>

    <td align="left" valign="top">&nbsp;</td>

    <td align="left" valign="top">&nbsp;</td>

  </tr>

  <tr>

    <td align="left" valign="top">IP Address:</td>

    <td align="left" valign="top">{ipaddress}</td>

  </tr>
  

</table>

</body>

</html>